# Dependencies
node_modules/
dist/
build/
venv/
.venv/
env/
.env/

# Environment / Keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
firebase-key.json
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
*.pkl
!.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.aws-sam/
